# Build Results
bin/
obj/

# User-specific files
.idea/
.vscode/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows Installer files for .NET projects
packages/
project.lock.json
project.fragment.lock.json
*.pdb
*.mdb

# ASP.NET temporary files
wwwroot/

# .NET Core / .NET 5+ specific files
.vs/
.vscode/
.env

# Rider specific files
.idea/

# User-specific files
*.user
*.userosscache
*.suo
*.userprefs
